/*   消除不同浏览器之间的样式差异 */
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: antiquewhite;
}

/* 导入本地字体，之后使用"KuaiLe"直接进行使用（用Google的在线字体不知道为什么不生效） */
@font-face {
    font-family: KuaiLe;
    src: url('../fonts/ZCOOLKuaiLe-Regular.ttf');
}